body {
    margin: 0;
    padding: 0;
    font-family: "PTSans", "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    color: #000000;
    
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

.header-top {
    min-height: 42px;
}

.container {
    width: 942px;
    margin:  0 auto;
    padding: 0 10px;
}

.container .logo, 
input[type="text"],
a.bookmarks,
a.bascket,
a.checkout
{
    display: inline-block;
    vertical-align: middle;
    min-height: 22px;
    margin-right: 20px;
    margin-bottom: 48px;
}

.logo {
    width: 220px;
    margin-right: 20px;
    text-align: center;
}

input[type="text"] {
    width: 220px;
}

.header-bottom p {
    width: 240px;
    float: left;
    padding-left: 47px;
}

.header-bottom .contacts {
    width: 300px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    
}

.header-bottom .user-block {
    float: right;
}

.main-navigation {
    float: left;
    width: 942px;
    min-height: 61px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 64px;
    background-color: bisque;
}

.main-navigation li {
    display: inline-block;
    padding-right: 53px;
}

.promo .slider2 {
    display: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.slider {
    float: left;
    margin-right: 20px;
    margin-bottom: 55px;
}

.top-outer {
    width: 940px;
}

.item-title1,.item-title2,.item-title3 {
    float: left;
    width: 300px;
   
}

.item-title1,.item-title2 {
     margin-right: 20px;
}

.item-title4,.item-title5 {
    float: left;
    width: 300px;
}

.item-title3, .item-title4,.item-title5 {
    margin-bottom: 20px;
} 


.popular-products {
    min-height: 88px;
    margin-bottom: 21px;
}

.popular-products h2 {
    float: left;
}
}
.popular-products .all-popular {
    float: right;
}

.all-popular {
    float: right;
}

.gallery-product .product {
    float: left;
}

.product {
    width: 220px;
    min-height: 318px;
    margin-right: 20px;
}

.gallery-product .item-last {
    float: right;
    margin-right: 0;
}

.gallery-all-producer .producer {
    float: left;
    margin-right: 20px;
    width: 220px;
    height: 147px;
}

.gallery-all-producer .producer:nth-child(4) {
    margin-right: 0;
}

.gallery-all-producer .producer:nth-child(8) {
    margin-right: 0;
}

.popular-producer {
    display: block;
    min-height: 89px;
    margin-bottom: 20px;
}

.popular-producer .all-producer {
    float: right;
    margin-top: -40px;
}

.services-delivery p {
    margin-bottom: 75px;
}

ul.delivery-menu {
    width: 240px;
}

.services-outer .services {
    margin-bottom: 73px;
}

.services-slider {
    float: right;
}

.services-slide services-slide-1 {
    float: right;
}

.services-menu {
    float: left;
    padding-right: 60px;
}

.services-slide-1 p {
    width: 300px;
    float: left;
}

.services-slide-2 {
    display: none;
}

.services-slide-3 {
    display: none;
}

.services-delivery {
    margin-bottom: 84px;
}

.company-info {
    padding: 83px 106px;
}

.company-technomart {
    float: left;
    width: 561px;
}

.company-technomart p {
    float: left;
    width: 539px;
}

.companies {
    margin-bottom: 40px;
}

.company-name {
    float: left;
    width: 561px;
}

.top-footer {
    margin-top: 85px;
}

.company-technomart ul {
    float: left;
    width: 220px;
   
}

.company-technomart .companies {
    float: left;
    width: 220px;
}

.about-company {
    display: inline-block;
    width: 220px;
}

.contacts  {
    width: 300px;
    float: right;
   
}

.contacts h2 {
    width: 300px;
    float: right;
}

.contacts p {
    width: 300px;
    float: right;
}

.contacts img {
    float: right;
    margin-bottom: 42px;
}

.logo-footer {
    width: 220px;
    text-align: center;
    margin-bottom: 32px;
}

footer .footer-contacts {
    float: left;
    margin-right: 20px;
}

footer .first-menu-bottom li  {
    float: right;
    padding-right: 60px;
}


footer .second-menu-bottom li {
    display: inline-block;
    padding-right: 60px;
}

footer .footer-copyright {
    width: 233px;
}

footer .footer-social {
    float: left;
    margin-left: 270px; 
}

.bottom-footer .footer-contacts {
    float: right;
}

.bottom-footer .copyright p {
    float: right;
}
    